.header {
  display: flex;
  color: rgb(77, 75, 75);
  padding: 1rem;
  text-align: center;
  margin: 1%;
  align-items: center;
  height: 10rem;
  max-width: 88%;
}
.header h1 {
  margin: auto
}
.icon-profile {
  position: relative;
  top: 5px;
  width: 22px;
  border: 1px solid rgb(80, 79, 79);
  border-radius: 50%;
  padding: 3px;
  margin: 0 0.5rem;
  color: rgb(80, 79, 79);
}
.logout {
  color: rgb(189, 3, 3);
  letter-spacing: 1px;
}

@media screen and (max-width: 499px) {
  .header h1 {
    margin: 10px;
    margin-left: 10%;
  }
  .header {
    max-width: 400px;
    margin: 0;
    padding: 0;
  }
  .logout-dropdown {
    margin-left: 10px;
  }
}

@media screen and (max-width: 299px) {
  .header {
    flex-direction: column;
    padding: 20px;
    margin: 20px;
  }
}