.header {
  display: flex;
  color: rgb(90, 88, 88);
  padding: 1rem;
  text-align: center;
  margin: 1%;
  align-items: center;
  height: 10rem;
  max-width: 90%;
}
.header h1 {
  margin: auto;
}

@media screen and (max-width: 499px) {
  .header h1 {
    margin: 10px;
    margin-left: 10%;
  }
  .header {
    max-width: 400px;
    margin: 0;
    padding: 0;
  }
  .logout-dropdown {
    margin-left: 10px;
  }
}

@media screen and (max-width: 299px) {
  .header {
    flex-direction: column;
    padding: 20px;
    margin: 20px;
  }
}