h3 {
  text-align: center;
  color: whitesmoke;
  width: 150px;
  margin: 1rem 46%;
  border-radius: 5px;
  padding: 5px;
  letter-spacing: 1px;
  max-width: 90%;
}
.red {
  background-color: rgb(189, 35, 35);
  border: 1px solid black;
}
.green {
  background-color: rgb(41, 119, 41);
  border-radius: 0;
}
.salary {
  font-weight: 600;
  max-width: 70%;
  position: relative;
  left: 43%;
  top:20%;
  margin: 2rem;
}
.main {
  display: flex;
  flex-direction: column;
}
.previsions {
  max-width: 90%;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  margin-left: 4.5%;
}

table {
  border: 1px solid black;
  margin: 1rem 0.25rem;
  text-align: center;
}
th {
  background-color: rgb(71, 71, 71);
  color: whitesmoke;
  padding: 0.5rem;
}
td {
  background-color: whitesmoke;
  color: rgb(71, 71, 71);
}


@media screen and (max-width: 720px) {
  .salary {
    position: relative;
    left: 15%;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (max-width: 499px) {
  .previsions {
    display: flex;
    flex-direction: column;
  }
  .salary {
    left: 0;
  }
  h3 {
    margin: auto;
    width: 100px;
  }
}