
.logout {
  margin: 5%;
  height: 2rem;
  padding: 0 1rem;
  border-radius: 4px;
  background-color: lightblue;
}
.logout:hover {
  background-color: brown;
  color: white;
}
.logout-dropdown {
  color: rgb(37, 37, 37);
}

.btn-login {
  background-color: black;
  color: aliceblue;
  padding: 0.25rem;
  cursor: pointer;
  font-weight: bolder;
  width: 180px;
  margin: 1rem auto;
  height: 2rem;
  border-radius: 3px;
  transition: 0.2s ease-in-out;
}
.btn-login:hover {
  background-color: rgb(173, 171, 171);
  color: black;
  transform: scale(1.1);
}

.login {
  width: 55%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem auto;
}
.login div, label, input {
  margin: 0.25rem;
}
.login div {
  height: 2rem;
  margin: 0.25rem auto
}
@media screen and (max-width: 429px) {
  label, .login div {
    margin: 20px;
  }
  .login {
    max-width: 100%;
    width: 60%;
  }
}